@import 'base.scss';

$mobile-breakpoint: 1000px;

ul {
  list-style-type: none;
  padding:0;
  margin:0;
}

h1 {
  text-transform: uppercase;
  margin: 0 0 10px 0;
  font-family: 'Oswald', sans-serif;
  line-height: 1.1;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $mobile-breakpoint) {
    margin: 0;
    flex-direction: row;
    align-items: center;
  }

  @media print {
    flex-direction: row;
  }

  .primary {
    font-size: 3.0em;
    line-height: 1;
  }

  .secondary {
    margin-top: 8px;
    font-size: 1.3em;

    @media screen and (min-width: $mobile-breakpoint) {
      margin-left: 25px;
      display: flex;
      flex-direction: column;
    }

    @media print {
      margin-left: 20px;
      margin-top: 4px;
      font-size: 1.3em;
    }

    .word {
      display: inline;

      @media screen and (min-width: $mobile-breakpoint) {
         display: block;
      }

      @media print {
        display: block;
      }
    }
  }
}

.nav {
  margin: 10px 0;
  position: relative;
  text-align: center;

  @media print {
    display: none;
  }
}

.summary {
  font-size: 1.2em;
  margin-top: 5px;

  @media print {
    margin-top: 0;
  }
}

.top {
  display: flex;
}

.contact-info {
  margin-top: 10px;
  text-align: center;
  font-size: 1em;
  text-align: right;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: top;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  @media print {
    margin-top: 5px;
  }
}

.contact-icon {
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

.clips {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
}

.experience {
  @media screen {
    width: 100%;
    flex-grow: 1;
  }
}

.time {
  font-size: 9px;
  margin-bottom: 2px;
}

.job {
  margin-bottom: 1em;
}

.col-flex-layout {
  display: flex;

  @media print {
    display: block;
    columns:3;
    column-gap: 1em;
  }

  & > div:first-child {
    margin:0 35px 0 0;

    @media print {
      margin: 0;
    }
  }


}

.skills {
  list-style: none;
  margin: 0;
  padding: 0;
  list-style: none;
  columns: 3;
}


.recognition { 
  display: flex;
  flex-direction: column;

  li {
    display: flex;
    align-items: center;
    margin: 5px 0;
    padding: 0 0;
  
    object {
      margin-right: 5px;
    }
  
    .trophy {
      width: 25px;
      height: 25px;
    }
    
    .checkbox {
      width: 13px;
      height: 13px;
      position: relative;
      top: 4px;
  
      @media print {
        top: 2px;
      }
    }
  
    &:first-child {
        margin-top: 0; 
    }
  
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.school-name {
  font-size: 1.25em;
}

.nu-seal-wrapper {
  text-align: left;
  display: flex;
  align-items: flex-start;
}

.nu-seal {
  width: 3em;
  height: 3em;
  margin-right: 10px;
  margin-top: 5px;
}

.job {
  ul {
    list-style: none;
    padding: 0 0 0 8px;
    margin:0;
  }
  
  li {
    position: relative;
  }
  li::before {
    content: '•';
    position: absolute;
    left: -8px;
  }  
}

.contact-me {
  @media print {
      display: none;
  }
}
.email-link {
  display: none;
  @media print {
    display: initial;
  }
}

.screen-only {
  @media print {
    display: none;
  }
}
.mobile-only {
  @media screen {
    display: none;
  }
}